
.navbar {
  background-image: linear-gradient(to right, #969cc5, white);
  font-family: 'Roboto Slab', serif;
}

a {
  color: black;
}
a:hover {
  color: black;
}

button {
  font-family: 'Bungee', cursive;
}

h2 {
  color: black;
}

body {
  padding-bottom: 0;
  background-image: linear-gradient(to right, #969cc5, white)
}

li {
  /* color: black; */
  margin-left: 25px;
}

p {
  text-align: justify;
  margin-right: 10px;
  margin-left: 10px;
}

th {
  font-family: 'Roboto Slab', serif;
  color: white;
}

#mainName {
  margin-right: 25px;
  font-family: 'Bungee', cursive;
}

#profilePic {
  margin-top: 60px;
  margin-left: 50px;
  border: 1px solid;
  border-radius: 10px;
}

#profile {
color: white;
background-image: url("../images/mountains.jpg");
background-repeat: no-repeat;
background-size: cover;
padding-bottom: 50px;

}

#bioText {
  color: white;
  font-family: 'Roboto Slab', serif;
  text-align: justify;
  margin-top: 50px;
  margin-right: 50px;
}

.skills {
  color: white;
}

.card-header {
  background-image: linear-gradient(to right, #969cc5, white);
}

.card-body {
  background-image: linear-gradient(to right, darkgrey, lightgrey, white);
}

.football {
  color: black;
  background-image: url("../images/football.jpg");
  background-size: 160px 100%;
  background-repeat: no-repeat;
}

.art {
  color: black;
  background-image: url("../images/scream.webp");
  background-size: 160px 100%;
  background-repeat: no-repeat;
}

.cooking {
  color: black;
  background-image: url("../images/food.jpg");
  background-size: 160px 100%;
  background-repeat: no-repeat;
}

.travel {
  color: black;
  background-image: url("../images/airplane.jpg");
  background-size: 160px 100%;
  background-repeat: no-repeat;
}

.gaming {
  color: black;
  background-image: url("../images/d20.jpeg");
  background-size: 160px 100%;
  background-repeat: no-repeat;
}

.conventions {
  color: black;
  background-image: url("../images/dcon.jpg");
  background-size: 160px 100%;
  background-repeat: no-repeat;
}

.film {
  color: black;
  background-image: url("../images/film.jpg");
  background-size: 160px 100%;
  background-repeat: no-repeat;
}

.outdoors {
  color: black;
  background-image: url("../images/outdoors.jpg");
  background-size: 160px 100%;
  background-repeat: no-repeat;
}
